h1 {
  font-family: 'comic sans ms';
  margin-top: 6;
  margin: 6px 0;
  font-weight: bolder;
  font-size: xx-large;
  text-align: center;
}

body {
  font-family: Urbanist,sans-serif;
  font-size:smaller;
}